<div>
  <% if current_user %>
    <%= link_to "Chat", rooms_path %>
    <%= button_to "Log out", destroy_user_session_path, method: :delete %>
  <% else %>
    You are not logged in
  <% end %>
</div>
